*, :before, :after {
    box-sizing: border-box;
}
html {
    font-size: 18px;
}
body {
    color: purple;
    font-family: sans-serif;
}
header {
    text-align: center;
}
main {
    margin: 0 auto;
    max-width: 640px;
}