.wordle {
    max-width: 500px;
}
.wordle fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 1em 0;
    padding: 0;
}
.wordle fieldset legend {
    margin-bottom: 1em;
}
.cell {
    color: #000;
    font-size: 4rem;
    font-weight: bold;
    height: 80px;
    text-align: center;
    width: 80px;
}
/* green - correct */
.cell[data-answer="correct"] {
    background-color: #FFD100;
}
/* yellow - partial */
.cell[data-answer="partial"] {
    background-color: #FFD100;
}
/* gray - incorrect */
.cell[data-answer="incorrect"] {
    background-color: #6C757C;
    color: #fff;
}
.cell:invalid {
    border: red solid 3px;
}